body{
	background:#666666 url('/images/background.png');
	color:white;
	font-family:'Cabin', arial, serif;
}
h1#title{
	text-align:center;
	font-size:3em;
	margin:20px 0;
	color:#444444;
	text-shadow:#707070 1px 1px 0px;
}
h1#title a{
	color:#444444;
	text-decoration:none;
}
#days{
	list-style:none;
	width:810px;
	display:block;
	margin:0 auto;
	padding:0;
}
	#days li{
		display:inline-block;
		width:200px;
		height:100px;
		margin:1px;
		padding:0;
		background:#eeeeee;
	}
		#days li a{
			display:block;
			width:100%;
			height:100px;
			text-align:center;
			text-decoration:none;
			color:#853718;
			font-size:2em;
		}
		#days li a:hover{
			color:#b94d21;
		}
#day{
	display:block;
	width:60%;
	height:400px;
	margin:0 auto;
}
#day h2#day_number{
	display:block;
	position:absolute;
	width:60%;
	height:400px;
	color:#5b5b5b;
	font-size:12em;
	margin:0;
	text-align:center;
	line-height:400px;
	z-index:1;
	text-shadow:#707070 1px 1px 0px;
}
#day #day_contents{
	display:none;
	width:60%;
	height:400px;
	position:absolute;
	z-index:2;
}
